.image {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.points {
  position: absolute;
  width: 5%;
  height: 6%;
  border-radius: 100%;
  cursor: pointer;
  z-index: 0;
  border: none;
  background-color: transparent;
}
.point1 {
  top: 63%;
  right: 58%;
}

.point2 {
  top: 63%;
  right: 38%;
}

.point3 {
  top: 35%;
  right: 38%;
}

.point4 {
  top: 35%;
  right: 58%;
}
